@import "./normalize.css";

/* 基本字体 */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #ffffff;
    font-size: 16px;
}

.gray { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
hr{
  height: 0;
  font-size: 1em;
  line-height: 0;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #A7ADBA;
  margin-bottom: 1.2em;
  cursor: default;
  user-select: none;
}
a{
  text-decoration: none;
}