@import "./normalize.css";

@font-face {
    font-family: 'puhui';
    font-display: swap;
    src: url('//at.alicdn.com/t/webfont_jhiloyge4x.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/webfont_jhiloyge4x.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_jhiloyge4x.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_jhiloyge4x.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_jhiloyge4x.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_jhiloyge4x.svg#Alibaba-PuHuiTi-Regular') format('svg'); /* iOS 4.1- */
  }

  @font-face {
    font-family: 'zkxw';
    font-display: swap;
    src: url('//at.alicdn.com/t/webfont_mgcns3t06p.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/webfont_mgcns3t06p.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_mgcns3t06p.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_mgcns3t06p.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_mgcns3t06p.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_mgcns3t06p.svg#站酷小薇体') format('svg'); /* iOS 4.1- */
  }

*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #ffffff;
    font-size: 16px;
    font-family: puhui;
    letter-spacing: 0.05em;
}

.gray { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}